/* Base Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins,sans-serif!important;

}
#intro{
    min-width: 50%;
    width: 20em;
}
.registration {
    height: 100vh;
}


#intro h2, #intro h6{
    font-weight: bold;
    line-height: 1.5;
}


.register-form{
    margin-top: 17em;
    padding-left: 2em;
}

.login-form{
    margin-top: 21em;
    padding-left: 2em;
}

@media screen and  ( max-width: 991px){
    .register-form, .login-form {
        margin-top: 5em!important;
        margin-bottom: 2em!important;
        padding-left: 0;
    }
    .registration {
        height: 40vh;
    }

}

@media screen and (max-width: 550px){
    .auth-form {
        width: 80%;
    }
    #intro-col{
        display: none;
    }
}